  @Test
  public final void testCompute() {
    try {
      Vertex<$vertexIdType, $vertexValueType, $edgeValueType> vertex = conf.createVertex();
      vertex.initialize($helper.formatWritable($vertexId), $helper.formatWritable($vertexValue));
      
#if ($neighbors)
      ReusableEdge<$vertexIdType, $edgeValueType> edge = conf.createReusableEdge();
#foreach ($neighbor in $neighbors)
      edge.setTargetVertexId($helper.formatWritable($neighbor.NbrId));
#if ($neighbor.edgeValue)
      edge.setValue($helper.formatWritable($neighbor.edgeValue));
#end
      vertex.addEdge(edge);
#end
#end

      ArrayList<$inMsgType> inMsgs = new ArrayList<>();
#foreach ($inMsg in $inMsgs)
      inMsgs.add($helper.formatWritable($inMsg));   
#end

      classUnderTest.compute(vertex, inMsgs);

#if ($vertexValueAfter)
      // assertEquals($vertexValueAfter, vertex.getValue().get(), 0.001f);
#end

      // mockEnv.verifyNoMessageSent();

      // $vertexValueType outMessage = new $outMsgType();
      // mockEnv.verifyMessageSentToAllEdges(vertex, outMessage);

#foreach ($outMsg in $outMsgs)
      // verify(processor, times($outMsg.times)).sendMessageRequest($helper.formatWritable($outMsg.msg.destinationId), $helper.formatWritable($outMsg.msg.Message));
#end
      
    } catch (IOException e) {
      e.printStackTrace();
    }
  }