    TestGraph<$vertexIdClass, $vertexValueClass, NullWritable> graph 
         = new TestGraph<$vertexIdClass, $vertexValueClass, NullWritable>(new GiraphConfiguration());      
#foreach ($vertex in $vertices)
#set ($edgeArrayName = "edges" + $foreach.index)
    Entry<$vertexIdClass, NullWritable>[] $edgeArrayName = new Entry[$vertex.neighbors.size()];   
#foreach ($neighbor in $vertex.neighbors)
    $edgeArrayName#[[[]]#$foreach.index] = new SimpleEntry<$vertexIdClass, NullWritable>(
         new $vertexIdClass($neighbor), NullWritable.get());
#end
    graph.addVertex(new $vertexIdClass($vertex.id), new $vertexValueClass($vertex.value), $edgeArrayName);   
#end