<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="stanford.infolab.debugger.plugin.Giraph"
            name="Giraph">
      </category>
      <wizard
            category="stanford.infolab.debugger.plugin.Giraph"
            class="stanford.infolab.debugger.plugin.wizard.GiraphJUnitWizard"
            icon="icons/sample.gif"
            id="stanford.infolab.debugger.plugin.wizard.GiraphJUnitWizard"
            name="Giraph JUnit">
      </wizard>
   </extension>
</plugin>
